/* src/css/custom.css */
:root {
  --ifm-color-primary: #1890FF;
  --ifm-font-color-base: #000000;
  --ifm-background-color: #ffffff;
}

a {
  color: var(--ifm-color-primary);
}

a:hover {
  text-decoration: underline;
}
